# Xcode
build/
DerivedData/
*.xcworkspace
!default.xcworkspace
*.xcuserstate
*.xcuserdata/
*.xccheckout
*.moved-aside
*.xcscmblueprint

# Swift Package Manager
.build/
Packages/
Package.resolved

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/

# Archives
*.xcarchive

# iOS specific
*.ipa
*.dSYM.zip
*.dSYM

# macOS
.DS_Store

# Logs
*.log

# Environment / secrets
.env
.env.*

# Firebase / Google config (optional if sensitive)
GoogleService-Info.plist

# IDEs
.vscode/
.idea/

# Test artifacts
*.profdata
*.coverage

# Temporary files
*.swp
*.tmp

HackingWithSwift-main